*.go    text eol=lf
*.ps1   text eol=lf
*.hcl   text eol=lf
*.yaml  text eol=lf
*.yml   text eol=lf
*.md    text eol=lf
*.ini   text eol=lf
*.txt   text eol=lf
*.json  text eol=lf
*.xml   text eol=lf
*.toml  text eol=lf
*.sh    text eol=lf